@{
    ViewData["Title"] = "Yet Another Checklist";
}

<div class="text-center py-4">
    <div class="mb-8 text-6xl font-extrabold">
        <span>Welcome to </span>
        <div class="text-transparent bg-clip-text bg-gradient-to-t from-indigo-600 to-blue-400">Yet Another Checklist</div>
    </div>
    <div class="text-xl">This is a basic Checklist / To Do web application utilizing:</div>
    <div class="grid grid-cols-6 items-center gap-2">

        <img src="./images/NET_Core_Logo.svg" alt=".NET Core logo" class="col-start-2 col-span-1" />
        <img src="./images/tailwind-css.svg" alt="Tailwind CSS logo" class="col-start-3 col-span-1" />
        <img src="./images/entity-framework-core-logo.png" alt="Entity Framework Core logo" class="col-start-4 col-span-1" />
        <img src="./images/htmx-logo.svg" alt="Htmx logo" class="col-start-5 col-span-1" />
    </div>

</div>
