@model ToDoListModel

<div id="todolist-@Model.Id" class="border rounded shadow p-2">
    <partial name="EditableTitle" for="@Model" />
    <ul>
        @foreach(var item in Model.Items)
        {
            <partial name="EditableToDoItem" for="@item" />
        }
    </ul>   
</div>