@model ToDoItemModel

<li class="flex items-center mb-2">
    <input type="checkbox" class="w-4 h-4 mx-2" checked="@Model.IsCompleted" name="IsCompleted"/>
    <span class="mx-2">@Model.Description</span>
    <span class="mx-2">@Model.DueBy?.ToString("MM/dd/yyyy hh:mm tt")</span>
</li>