@model IList<ToDoListModel>

@{
    ViewData["Title"] = "Checklists";
}

@if(Model== null || Model.Count < 1)
{
    <div>You have no Checklists.</div>
}
else
{
    <div id="todolist" class="flex gap-x-2 my-4 ml-8">
    @foreach (var tdl in Model)
    {
        <partial name="EditableToDoList" for="@tdl" />
    }
</div>
}